<div class="container">
  <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>quantity</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of myListOfProducts">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}</td>
      </tr>
      
    </tbody>
  </table>
</div>





